
/**/*.tfstate*
/**/.terraform

../modules/key/client_key
../modules/key/client_key.pub
# lokalne foldery terraform
**/.terraform/*
.terraform/*
*.hcl
*.lock*
../.terraform/*
terraform.*
*.tfvars*

# pliki .tfstate
*.tfstate
/**/*.tfstate*
*.tfstate.*
